* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 212, 217);
}
.container {
  width: 100%;
  height: 100%;
}
.first_sec {
  background-image: url(cofeebg.jpg);
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 8px black;
}

.first_sec .input {
  height: 60px;
  width: 70%;
  background-color: rgb(99, 18, 18, 1);
  border-radius: 10px;
  position: sticky;
  top: 60px;
  padding: 10px;
  border: none;
}

.second_sec {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.coffee1 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px black;
}

.coffee1 img:hover {
  transform: scale(1.1);
}

.coffee2 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px black;
}

.coffee2 img:hover {
  transform: scale(1.1);
}

.coffee3 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px black;
}

.coffee3 img:hover {
  transform: scale(1.1);
}

.coffee4 img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 8px 8px black;
}

.coffee4 img:hover {
  transform: scale(1.1);
}

.second_sec h4 {
  text-align: center;
  margin-top: 10px;
  color: rgb(72, 70, 70);
}

.container .third_sec {
  margin: 20px;
  background-color: rgb(165, 42, 42, 0.3);
  padding: 20px;
  box-shadow: 0px 0px 9px brown;
  border-radius: 5px;
  margin: 60px;
}

.third_sec h2 {
  color: brown;
}

.third_sec p {
  color: brown;
  text-align: justify;
}

.container .fourth_sec {
  margin: 20px;
  background-color: rgb(165, 42, 42, 0.3);
  padding: 20px;
  box-shadow: 0px 0px 9px brown;
  border-radius: 5px;
  margin: 60px;
}

.fourth_sec h2 {
  color: brown;
}

.fourth_sec p {
  color: brown;
  text-align: justify;
}

.fourth_sec ol {
  color: brown;
  text-align: justify;
  padding: 10px;
}
